package generate
{{range .}}
    type {{.Name}} struct {
		{{range .Fields}}
			{{if eq .Type.NamedType "" }}
				{{Title .Name}} *[]{{.Type.Elem.NamedType}}   `json:"{{.Name}},omitempty"`
			{{else}}
				{{Title .Name}} *{{.Type.NamedType}}  `json:"{{.Name}},omitempty"`
    		{{end }}

		{{ end }}
    }
{{ end }}

